<div class="panel panel-default panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= @team.name ? @team.name : "Set your team's name" %>
      <%= link_to t(".edit"), edit_team_path(@team), class: "btn btn-xs btn-danger pull-right", remote: true %>
    </h3>
  </div>
  <div class="panel-body">
    <% if local_assigns[:msg] %>
        <div class="alert alert-danger">
          <% msg.each do |message| %>
            <%= "#{message}<br>".html_safe %>
          <% end %>
        </div>
    <% end %>
    <% @team.members.each_with_index do |user, index| %>
      <div class="<%= index == 0 ? "captain" : cycle("light",["light","dark"]) %>">
        <%= user.full_name %>
      </div>
    <% end %>
  </div>
</div>