<div class="container" id="teams">
  <div class="row header">
    <div class="col-xs-12 text-center">
      <h3><%= t(".header") %></h3>
      <hr>
    </div>
    <div class="col-xs-2 col-sm-1 col-sm-offset-3 text-center">
      Id
    </div>
    <div class="col-xs-5 col-sm-2">
      Nazwa
    </div>
    <div class="col-xs-5 col-sm-3 text-center">
      Członkowie
    </div>
  </div>
  <% @teams.each do |team| %>
      <div class="row <%= cycle "light", "dark" %>">
        <div class="col-xs-2 col-sm-1 col-sm-offset-3 text-center">
          <%= team.id %>
        </div>
        <div class="col-xs-5 col-sm-2">
          <%= team.name %>
        </div>
        <div class="col-xs-5 col-sm-3 text-center">
          <% team.members.each do |user| %>
          <span><%= user.full_name %></span><br>
          <% end %>
        </div>
      </div>
  <% end %>
</div>