<% content_for :description do %>
    <div class="text-center">
      Stowarzyszenie Fanów Flipperów zaprasza wszystkich na turniej flipperowy<br>
      <b>"POLISH PINBALL OPEN 2016"</b>
      który odbędzie się w dniach 4-5 czerwca 2016 r. w Łodzi.<br>
      <h4>
        <b>
          <a href="https://www.portlodz.pl">Centrum Handlowe PORT ŁÓDŹ</a><br>
        </b>
        ul. Pabianicka 245 (droga wylotowa z Łodzi na Pabianice)
      </h4>
    </div>
    <h2 class="text-center">CENY:</h2>
    <ul>
      <li>
        PPO 2016 - <%= format_currency(120) %> płatne do 29.05.2016 r.
      </li>
      <li>
        PPO 2016 - <%= format_currency(90) %> płatne do 29.05.2016 (dla członków stowarzyszenia, którzy opłacili składkę za cały 2016 rok)
      </li>
      <li>
        PPO 2016 - <%= format_currency(150) %> płatne po 29.05.2016 lub na miejscu
      </li>
      <li>
        PPO Team Tournament - <%= format_currency(15) %> płatne do 29.05.2016 r.(zgłoszenie jednej 3 osobowej drużyny)
      </li>
      <li>
        Zapisy na Kids Tournament: do niedzieli, godzina 11:00 (udział bezpłatny)
      </li>
      <li>
        Koszulka – <%= format_currency(45) %>, zamówienia do 30.04.2016
      </li>
    </ul>
    <h2 class="text-center">HARMONOGRAM:</h2>
<ul style="list-style: none">
  <li>Sobota (04.VI.2016 r.)
    <ul>
      <li>10.00 - 11.00 Rejestracja</li>
      <li>11.00 - 19.00 Eliminacje Team Tournament</li>
      <li>11.00 - 19.00 Eliminacje 80's</li>
      <li>11.00 - 19.00 Eliminacje STERN TROPHY</li>
      <li>12.00 - 20.00 Eliminacje MODERN</li>
      <li>20.00 - 21.00 Finał Team Tournament</li>
    </ul>
  </li>
  <li>Niedziela (05.VI.2016 r.)
    <ul>
      <li>10.30 - 12.00 Finał STERN TROPHY</li>
      <li>10.30 - 12.00 Finał 80's</li>
      <li>12.00 - 20.00 Finały MODERN</li>
      <li>12.00 - 15.00 Kids Tournament (dla dzieci do lat 12 pod opieką osób dorosłych)</li>
      <li>20.00 - 21.00 WRĘCZENIE NAGRÓD I ZAKOŃCZENIE TURNIEJU</li>
    </ul>
  </li>
  <li>Przez cały czas trwania imprezy (sobota godzina 12:00 - niedziela godzina 18:00):
    <ul>
      <li>GRAND CHAMPION - BOP 2.0</li>
      <li>FREE PLAY - około 25 maszyn</li>
    </ul>
  </li>
</ul>
<% end %>

<% content_for :location do %>
  Opis miejsca. Napisać co to za miejsce, jakie są tam dostępne atrakcje itp.<br>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel augue dictum orci iaculis blandit. Nunc ut interdum velit. Suspendisse commodo cursus luctus. Etiam dignissim quam sem, et volutpat ligula venenatis sed. Nunc suscipit, nulla non tempor molestie, purus sapien efficitur nisi, quis placerat leo magna ac mi. Donec luctus convallis augue facilisis dapibus. Quisque maximus gravida ex, non feugiat est egestas quis. In sodales, turpis nec placerat porta, dui arcu laoreet dui, non volutpat ex turpis ac mauris. Fusce luctus id odio sit amet porta.<br>
  Praesent id ultricies leo, nec auctor nulla. Nam aliquet aliquam odio, eget euismod felis pellentesque id. Nulla in placerat sem. Sed efficitur egestas eros id tincidunt. Nulla elementum tincidunt volutpat. Aliquam in magna vitae mauris mattis iaculis. Suspendisse ac ipsum molestie, sollicitudin felis in, varius mi. Mauris neque ipsum, rhoncus id hendrerit non, finibus ut ante. Sed a magna ut justo pulvinar vehicula. Curabitur dictum, quam nec commodo consequat, sem elit luctus nisl, ac tempor nisl velit at urna. Phasellus id tincidunt mauris. Ut eu tempor ex. Praesent sed tempus mauris.
<% end %>

<% content_for :question1 do %>
  To jest odpowiedź na pytanie numer 1.
<% end %>

<% content_for :question2 do %>
  To jest odpowiedź na pytanie numer 2.
<% end %>

<% content_for :question3 do %>
  To jest odpowiedź na pytanie numer 3.
<% end %>

<% content_for :question4 do %>
  To jest odpowiedź na pytanie numer 4.
<% end %>