<% content_for :header do %>
    Tournaments
<% end %>

<% content_for :modern do %>
    Compete with the best on machines equipped with graphical display (DMD).
<% end %>

<% content_for :modern_link do %>
    <%= link_to "More", tournament_main_path, class: "btn btn-lg btn-danger details" %>
<% end %>

<% content_for :eighties do %>
    Defeat others playing on machines that were manufactured during the eighties.
<% end %>

<% content_for :eighties_link do %>
    <%= link_to "More", tournament_classic_path, class: "btn btn-lg btn-danger details" %>
<% end %>

<% content_for :stern do %>
    See how good you are playing on the brand new Stern pinballs.
<% end %>

<% content_for :stern_link do %>
    <%= link_to "More", tournament_stern_path, class: "btn btn-lg btn-danger details" %>
<% end %>

<% content_for :price_main do %>
    For one price of <%= format_currency(28) %><span class="super"><small>*</small></span> you can attend all 3 tournamnets!<br>
<% end %>

<% content_for :price_disclaimer do %>
    <span class="super">*</span>For members of SFF who have paid membership's fees price is <%= format_currency(23) %>.
    When payment is done over the 27<span class="super">th</span> of June price will be <%= format_currency(35) %>
<% end %>

<% content_for :team do %>
    Create your team and show to all others how efficiently you are when cooperating.
 <% end %>

<% content_for :team_link do %>
    <%= link_to "More", tournament_team_path, class: "btn btn-lg btn-danger details" %>
<% end %>

<% content_for :team_price do %>
    Price: <%= format_currency(4) %>
<% end %>

<% content_for :bop do %>
    We have BoP 2.0 and are dying to see who will be the Grand Champion. Could it be you?
<% end %>

<% content_for :bop_link do %>
    <%= link_to "More", tournament_bop_path, class: "btn btn-lg btn-danger details" %>
<% end %>

<% content_for :bop_price do %>
    Price: <%= format_currency(1) %> / game.
<% end %>

<% content_for :kids do %>
    All children under the age of 12 are welcome. Let's compete and have some great FUN!
<% end %>

<% content_for :kids_link do %>
    <%= link_to "More", tournament_kids_path, class: "btn btn-lg btn-danger details" %>
<% end %>

<% content_for :kids_price do %>
    It's FREE!
<% end %>

<% content_for :location_description do %>
    <h2 class="text-center">
      <b><a href="www.portlodz.com">Port Łódź</a></b>
    </h2>
    <h4 class="justify">
      One of the biggest shopping malls in Poland. Perfect location, surrounded with reach grid of communications links
      provides You easy access to our event. Additionally there are a lot of various shops, restaurants, coffee spots
      and fashion outlets so you will not get borred.
    </h4>
<% end %>

<% content_for :question1 do %>
  This is answer to question number 1.
<% end %>

<% content_for :question2 do %>
  This is answer to question number 2.
<% end %>

<% content_for :question3 do %>
  This is answer to question number 3.
<% end %>

<% content_for :question4 do %>
  This is answer to question number 4.
<% end %>