<% content_for :description do %>
    <div class="text-center fa-3x header">
      Tournaments
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4 text-center border">
        <div class="fa-2x bold">
          Modern and 80's
        </div>
        <div class="fa-stack fa-5x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-user fa-stack-1x fa-black"></i>
        </div>
        <div>
          <p>Two tournaments where you compete with others to win recognition and valuable prices.</p>
        </div>
        <div class="fa-2x">Price: <%= format_currency(28) %></div>
        <div>
          <%= link_to "Details", tournament_main_path, class: "btn btn-lg btn-danger details" %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 text-center border">
        <div class="fa-2x bold">
          Team Competition
        </div>
        <div class="fa-stack fa-5x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-users fa-stack-1x fa-black"></i>
        </div>
        <div>
          <p>Create a team and show everyone how efficiently you can cooperate when playing pinballs.</p>
        </div>
        <div class="fa-2x">Price: <%= format_currency(4) %></div>
        <div>
          <%= link_to "Details", tournament_team_path, class: "btn btn-lg btn-danger details" %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 text-center border">
        <div class="fa-2x bold">
          Stern Trophy
        </div>
        <div class="fa-stack fa-5x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-trophy fa-stack-1x fa-black"></i>
        </div>
        <div>
          <p>Compete on the brand new and shiny Stern pinballs.</p>
        </div>
        <div class="fa-2x">Price: FREE</div>
        <div>
          <%= link_to "Details", "#", class: "btn btn-lg btn-danger details" %>
        </div>
      </div>
    </div>
<% end %>


<% content_for :location do %>
    Location description. Write about the place, its attractions and so on.<br>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel augue dictum orci iaculis blandit. Nunc ut interdum velit. Suspendisse commodo cursus luctus. Etiam dignissim quam sem, et volutpat ligula venenatis sed. Nunc suscipit, nulla non tempor molestie, purus sapien efficitur nisi, quis placerat leo magna ac mi. Donec luctus convallis augue facilisis dapibus. Quisque maximus gravida ex, non feugiat est egestas quis. In sodales, turpis nec placerat porta, dui arcu laoreet dui, non volutpat ex turpis ac mauris. Fusce luctus id odio sit amet porta.<br>
    Praesent id ultricies leo, nec auctor nulla. Nam aliquet aliquam odio, eget euismod felis pellentesque id. Nulla in placerat sem. Sed efficitur egestas eros id tincidunt. Nulla elementum tincidunt volutpat. Aliquam in magna vitae mauris mattis iaculis. Suspendisse ac ipsum molestie, sollicitudin felis in, varius mi. Mauris neque ipsum, rhoncus id hendrerit non, finibus ut ante. Sed a magna ut justo pulvinar vehicula. Curabitur dictum, quam nec commodo consequat, sem elit luctus nisl, ac tempor nisl velit at urna. Phasellus id tincidunt mauris. Ut eu tempor ex. Praesent sed tempus mauris.
<% end %>

<% content_for :question1 do %>
  This is answer to question number 1.
<% end %>

<% content_for :question2 do %>
  This is answer to question number 2.
<% end %>

<% content_for :question3 do %>
  This is answer to question number 3.
<% end %>

<% content_for :question4 do %>
  This is answer to question number 4.
<% end %>