<% content_for :header do %>
    Turnieje
<% end %>

<% content_for :modern do %>
  Zmierz się z najlepszymi na maszynch posiadających graficzny wyświetlacz (DMD).
<% end %>

<% content_for :modern_link do %>
    <%= link_to "Więcej", tournament_main_path, class: "btn btn-lg btn-danger details" %>
<% end %>

<% content_for :eighties do %>
    Pokonaj innych, grając na maszynach powstałych w latach osiemdziesiątych.
<% end %>

<% content_for :eighties_link do %>
    <%= link_to "Więcej", tournament_classic_path, class: "btn btn-lg btn-danger details" %>
<% end %>

<% content_for :stern do %>
    Zmierz się na fabrycznie nowych maszynach marki Stern.
<% end %>

<% content_for :stern_link do %>
    <%= link_to "Więcej", tournament_stern_path, class: "btn btn-lg btn-danger details" %>
<% end %>

<% content_for :price_main do %>
    Za jedną cenę <%= format_currency(120) %><span class="super"><small>*</small></span> weźmiesz udział w aż 3 turniejach!<br>
<% end %>

<% content_for :price_disclaimer do %>
    <span class="super">*</span>Dla członków SFF z opłaconymi składkami cena udziału to <%= format_currency(90) %>. Przy opłacie po 01.06.2015 lub
    na miejscu, cena udziału wynosi <%= format_currency(150) %>
<% end %>

<% content_for :team do %>
    Stwórz drużynę i pokaż wszystkim, jak skutecznie potraficie współpracować przy grze na flipperach.
<% end %>

<% content_for :team_link do %>
    <%= link_to "Więcej", tournament_team_path, class: "btn btn-lg btn-danger details" %>
<% end %>

<% content_for :team_price do %>
    Koszt: <%= format_currency(15) %>
<% end %>

<% content_for :bop do %>
    Mamy BoP 2.0 i jesteśmy ciekawi kto zostanie Grand Champion'em. Może to właśnie Ty?
<% end %>

<% content_for :bop_link do %>
    <%= link_to "Więcej", tournament_bop_path, class: "btn btn-lg btn-danger details" %>
<% end %>

<% content_for :bop_price do %>
    Koszt: <%= format_currency(5) %> / gra
<% end %>

<% content_for :kids do %>
    Zapraszamy wszystkie dzieci w wieku do 12 lat, do rywalizacji i najlepszej zabawy na świecie.
<% end %>

<% content_for :kids_link do %>
    <%= link_to "Więcej", tournament_kids_path, class: "btn btn-lg btn-danger details" %>
<% end %>

<% content_for :kids_price do %>
    Udział DARMOWY!
<% end %>

<% content_for :location_description do %>
    <h2 class="text-center">
      <b><a href="www.portlodz.com">Port Łódź</a></b>
    </h2>
    <h4 class="justify">
      Jedno z największych centrów handlowych w Polsce. Doskonała lokalizacja, otoczona siatką połączeń komunikacyjnych,
      zapewni Wam łatwy dojazd na naszą imprezę. Dodatkowo miejsce to zapewnia dostęp do najlepszych sklepów,
      restauracji, kawiarni i butików z modą.
    </h4>
<% end %>

<% content_for :question1 do %>
  To jest odpowiedź na pytanie numer 1.
<% end %>

<% content_for :question2 do %>against others
  To jest odpowiedź na pytanie numer 2.
<% end %>

<% content_for :question3 do %>
  To jest odpowiedź na pytanie numer 3.
<% end %>

<% content_for :question4 do %>
  To jest odpowiedź na pytanie numer 4.
<% end %>