<% content_for :description do %>
  <div class="text-center">
    Polish Pinball Fans Association proudly invites everyone to pinball tournament<br>
    <b>"POLISH PINBALL OPEN 2016"</b>
    which will be held on 4-5 of June 2016 at Lodz<br>
    <h4>
      <b>
        <a href="https://www.portlodz.pl">Shopping Mall PORT ŁÓDŹ</a><br>
      </b>
      Pabianicka 245 st
    </h4>
  </div>
  <h2 class="text-center">PRICES:</h2>
  <ul>
    <li>
      PPO 2016 - <%= format_currency(28) %> paid until the 29.05.2016
    </li>
    <li>
      PPO 2016 - <%= format_currency(21) %> paid until 29.05.2016 (for members of association with 2016 fee fully paid)
    </li>
    <li>
      PPO 2016 - <%= format_currency(35) %> paid after 29.05.2016 or during registration at event
    </li>
    <li>
      PPO Team Tournament - <%= format_currency(15) %> paid until 29.05.2016 (registration of one team conisting 3 members)
    </li>
    <li>
      Registration for Kids Tournament: until sunday, 11AM
    </li>
    <li>
      T-Shirt – <%= format_currency(11) %>, orders until 30.04.2016
    </li>
  </ul>
  <h2 class="text-center">TIMETABLE:</h2>
  <ul style="list-style: none">
    <li>Saturday (04.06.2016)
      <ul>
        <li>10.00 - 11.00 Registration</li>
        <li>11.00 - 19.00 Team qualifications</li>
        <li>11.00 - 19.00 80's qualifications</li>
        <li>11.00 - 19.00 STERN TROPHY qualifications</li>
        <li>12.00 - 20.00 MODERN qualifications</li>
        <li>20.00 - 21.00 Team Finals</li>
      </ul>
    </li>
    <li>Sunday (05.06.2016)
      <ul>
        <li>10.30 - 12.00 STERN TROPHY finals</li>
        <li>10.30 - 12.00 80's finals</li>
        <li>12.00 - 20.00 MODERN finals</li>
        <li>12.00 - 15.00 Kids Tournament (kids under 12 years old under parents care)</li>
        <li>20.00 - 21.00 AWARDS AND CLOSING CEREMONY</li>
      </ul>
    </li>
    <li>During the whole event the following attractions will be available:
      <ul>
        <li>GRAND CHAMPION - BOP 2.0</li>
        <li>FREE PLAY - around 25 machines available</li>
      </ul>
    </li>
  </ul>
<% end %>

<% content_for :location do %>
    Location description. Write about the place, its attractions and so on.<br>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel augue dictum orci iaculis blandit. Nunc ut interdum velit. Suspendisse commodo cursus luctus. Etiam dignissim quam sem, et volutpat ligula venenatis sed. Nunc suscipit, nulla non tempor molestie, purus sapien efficitur nisi, quis placerat leo magna ac mi. Donec luctus convallis augue facilisis dapibus. Quisque maximus gravida ex, non feugiat est egestas quis. In sodales, turpis nec placerat porta, dui arcu laoreet dui, non volutpat ex turpis ac mauris. Fusce luctus id odio sit amet porta.<br>
    Praesent id ultricies leo, nec auctor nulla. Nam aliquet aliquam odio, eget euismod felis pellentesque id. Nulla in placerat sem. Sed efficitur egestas eros id tincidunt. Nulla elementum tincidunt volutpat. Aliquam in magna vitae mauris mattis iaculis. Suspendisse ac ipsum molestie, sollicitudin felis in, varius mi. Mauris neque ipsum, rhoncus id hendrerit non, finibus ut ante. Sed a magna ut justo pulvinar vehicula. Curabitur dictum, quam nec commodo consequat, sem elit luctus nisl, ac tempor nisl velit at urna. Phasellus id tincidunt mauris. Ut eu tempor ex. Praesent sed tempus mauris.
<% end %>

<% content_for :question1 do %>
  This is answer to question number 1.
<% end %>

<% content_for :question2 do %>
  This is answer to question number 2.
<% end %>

<% content_for :question3 do %>
  This is answer to question number 3.
<% end %>

<% content_for :question4 do %>
  This is answer to question number 4.
<% end %>