<% provide(:title, "Home") %>
<% render 'static_pages/home_content' %>

<section class="no-margin" id="main-slider">
  <div class="carousel wet-asphalt" id="main-slider-content">
    <ol class="carousel-indicators">
      <li data-target="#main-slider-content" data-slide-to="0" class="active"></li>
      <li data-target="#main-slider-content" data-slide-to="1"></li>
      <li data-target="#main-slider-content" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active" id="slide-1">
        <div class="container" style="height:100%;">
          <img id="logo-ppo" src="<%= asset_path("ppo-logo.png") %>"/>
          <div>
            <h1 class="animation animated-item-1 slider-huge text-right"><%= t(".slide1.date") %></h1>
            <h1 class="animation animated-item-2 slider-huge text-right"><%= t(".slide1.place") %></h1>
          </div>
          <div class="pinball-orgs">
            <img src="<%= asset_path('sff-small.png') %>" class="org-logo">
            <img src="<%= asset_path('ecs-small.png') %>" class="org-logo">
          </div>
        </div>
      </div>

      <div class="item" id="slide-2">
        <div class="container-fluid">
          <div class="animation animated-item-1 slider-huge">
            <span>Największa impreza<br>flipperowa w Polsce</span>
          </div>
          <div class="animation animated-item-3 slider-huge">
            <span>3 Główne Turnieje</span>
          </div>
        </div>
      </div><!--/.item-->

      <div class="item" id="slide-3">
        <div class="container-fluid">
          <div class="animation animated-item-1 slider-huge">
            <span>Ponad 70 maszyn</span>
          </div>
          <div class="animation animated-item-3 slider-huge">
            <span>Strefa Free Play</span>
          </div>
        </div>
      </div><!--/.item-->
    </div><!--/.carousel-inner -->

  </div><!--/.carousel-->
  <a class="prev hidden-xs" href="#main-slider-content" data-slide="prev">
    <i class="fa fa-angle-left fa-2x"></i>
  </a>
  <a class="next hidden-xs" href="#main-slider-content" data-slide="next">
    <i class="fa fa-angle-right fa-2x"></i>
  </a>
  <div class="container" id="btn-register">
    <div class="col-xs-12 text-center">
      <%= link_to signup_url, class: "slider-huge btn btn-xl animation animated-item-3" do %>
          <%= t(".slide1.register") %>
      <% end %>
    </div>
  </div>
</section><!--/#main-slider-->

<section id="description" class="emerald">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h1><%= t(".description.header") %></h1>
      </div>
    </div>
    <div class="row">
            <div class="col-xs-12 col-sm-4 text-center">
              <div class="hidden-xs">
                <hr>
              </div>
              <div class="fa-2x bold">
                Modern
              </div>
              <div class="fa-stack fa-5x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-trophy fa-stack-1x fa-black"></i>
              </div>
              <div>
                <p class="desc-row-1">
                  <%= yield :modern %>
                </p>
              </div>
              <div>
                <%= yield :modern_link %>
              </div>
              <div class="visible-xs-block">
                <hr>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 text-center">
              <div class="hidden-xs">
                <hr>
              </div>
              <div class="fa-2x bold">
                80's
              </div>
              <div class="fa-stack fa-5x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-trophy fa-stack-1x fa-black"></i>
              </div>
              <div>
                <p class="desc-row-1">
                  <%= yield :eighties %>
                </p>
              </div>
              <div>
                <%= yield :eighties_link %>
              </div>
              <div class="visible-xs-block">
                <hr>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 text-center">
              <div class="hidden-xs visible-sm-block visible-md-block visible-lg-block">
                <hr>
              </div>
              <div class="fa-2x bold">
                Stern Trophy
              </div>
              <div class="fa-stack fa-5x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-trophy fa-stack-1x fa-black"></i>
              </div>
              <div>
                <p class="desc-row-1">
                  <%= yield :stern %>
                </p>
              </div>
              <div>
                <%= yield :stern_link %>
              </div>
            </div>
            <div class="col-xs-12 text-center">
              <div class="price_info">
                <%= yield :price_main %>
              </div>
              <div class="price-disclaimer">
                <%= yield :price_disclaimer %>
              </div>
            </div>
            <div class="col-xs-12">
              <hr>
            </div>
          </div>

    <div class="row">

            <div class="col-xs-12 col-sm-4 text-center">
              <div class="fa-2x bold">
                Team
              </div>
              <div class="fa-stack fa-5x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-users fa-stack-1x fa-black"></i>
              </div>
              <div>
                <p class="desc-row-2">
                  <%= yield :team %>
                </p>
              </div>
              <div>
                <%= yield :team_link %>
              </div>
              <div class="price_info">
                <%= yield :team_price %>
              </div>
              <div>
                <hr>
              </div>
            </div>

            <div class="col-xs-12 col-sm-4 text-center">
              <div class="fa-2x bold">
                Bride 2.0
              </div>
              <div class="fa-stack fa-5x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-euro fa-stack-1x fa-black"></i>
              </div>
              <div>
                <p class="desc-row-2">
                  <%= yield :bop %>
                </p>
              </div>
              <div>
                <%= yield :bop_link %>
              </div>
              <div class="price_info">
                <%= yield :bop_price %>
              </div>
              <div>
                <hr>
              </div>
            </div>

            <div class="col-xs-12 col-sm-4 text-center">
              <div class="fa-2x bold">
                Kids
              </div>
              <div class="fa-stack fa-5x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-child fa-stack-1x fa-black"></i>
              </div>
              <div>
                <p class="desc-row-2">
                  <%= yield :kids %>
                </p>
              </div>
              <div>
                <%= yield :kids_link %>
              </div>
              <div class="price_info">
                <%= yield :kids_price %>
              </div>
              <div class="hidden-xs">
                <hr>
              </div>
            </div>

          </div>
  </div>
</section>

<!--<script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>-->
<section id="flippers" class="flippers-home"> <!-- TODO create class -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 text-center" id="flippers-header">
        <a href="#">
          <h1><%= t(".flippers.header") %> <i class="fa fa-angle-down"></i></h1>
          <p><%= t(".expand") %></p>
        </a>
      </div>
    </div>
    <div class="row" id="flippers-grid">
      <% Flipper.all.each do |flipper| %>
        <div class="col-xs-6 col-sm-3 col-md-2 translite">
          <%= render flipper, flipper: flipper %>
        </div>
      <% end %>
      <div class="col-xs-12 text-center" id="flippers-footer">
        <a href="#flippers">
          <h3><%= t(".collapse") %> <i class="fa fa-angle-up"></i></h3>
        </a>
      </div>
    </div>
  </div>
</section>

<section id="location" class="violet justify">
  <div class="container-fluid">
    <div class="row">
      <div class="map-frame">
        <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4230311.240704754!2d14.707424672948015!3d51.99950843313029!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7960f6ca5e5c499d!2zUG9ydCDFgcOzZMW6!5e0!3m2!1sen!2spl!4v1458405035139"></iframe>
      </div>
    </div>
  </div>
</section>

<section id="location-description" class="violet justify">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <%= image_tag asset_path('port-lodz-outside.jpg'), width: "100%" %>
      </div>
      <%= yield :location_description %>
    </div>
    <div class="row">
      <%= yield :location_how_to_get_here %>
    </div>
  </div>
</section>

<section id="hotels" class="orange">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="text-center"><%= t(".hotels.header") %></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <img src="http://static.meteor24.pl/images/base/7/6561/86407_40.jpg" width="100%">
          </div>
          <div class="col-xs-12 col-md-6">
            <h4><b>Willa Poru Roku</b></h4>
            <p>
              ul. Rudzka 65<br>
              93-423 Łódź<br>
              <i class="fa fa-phone fa-1x"></i> +48123456789<br>
              <i class="fa fa-envelope fa-1x"></i> <a href="mailto: willa@poryroku.com">willa@poryroku.com</a><br>
              <i class="fa fa-link fa-1x"></i> <a href="http://www.poryroku.com">www.poryroku.com</a>
            </p>
            <p>Cena: od 40 PLN</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <img src="http://www.zajazdrubin.pl/img/galeria/DSC_0023.jpg" width="100%">
          </div>
          <div class="col-xs-12 col-md-6">
            <h4><b>Zajazd Rubin</b></h4>
            <p>
              ul. Scaleniowa 11<br>
              93-436 Łódź<br>
              <i class="fa fa-phone fa-1x"></i> +48123456789<br>
              <i class="fa fa-envelope fa-1x"></i> <a href="mailto: rubin@zajazdrubin.pl">rubin@zajazdrubin.pl</a><br>
              <i class="fa fa-link fa-1x"></i> <a href="http://www.zajazdrubin.pl">www.zajazdrubin.pl</a>
            </p>
            <p>Cena: od 120 pln</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!--
<section id="faq" class="yellow-light">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="text-center"><%= t(".faq.header") %></h1>
      </div>
    </div>
    <div class="row">
      <div class="panel-group" id="accordion">
      <% %w[question1 question2 question3 question4].each_with_index do |question| %>
        <div class="panel panel-default orange-border">
          <div class="panel-heading yellow-dark">
            <h4 class="panel-title">
              <%= link_to "##{question}", data: { parent: "#accordion", toggle: "collapse" } do %>
                <%= t(".faq.#{question}") %>
              <% end %>
            </h4>
          </div>
          <%= content_tag :div, id: "#{question}", class: "panel-collapse collapse yellow-light" + (question == "question1" ? " in" : "") do %>
            <div class="panel-body">
              <%= yield question.to_sym %>
            </div>
          <% end %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</section>
-->

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="text-center">Skontaktuj się z nami</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <form class="form">
        <span class="form-group">
          <label>Temat</label>
          <input type="email" class="form-control">
        </span>
        <span class="form-group">
          <label>Wiadomość</label>
          <input type="text" class="form-control">
        </span><br>
        <span class="form-group">
          <button class="btn btn-primary btn-block" type="submit">Wyślij</button>
        </span>
        </form>
      </div>
    </div>
  </div>
</section>
