<% provide :title, "Modern" %>
<%= render 'tournament_nav' %>
<%= render 'tournament_main_content' %>

<div class="container">
  <div class="row jumbotron text-center">
    <div class="col-xs-12">
      <h1>Modern</h1>
      <%= payment_or_register.html_safe %>
    </div>
  </div>
</div>

<div id="rules">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 justify">
        <%= yield :rules %>
      </div>
      <div class="col-xs-12 text-center">
      </div>
    </div>
  </div>
</div>

<div id="flippers">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 justify">
        <%= yield :flippers %>
      </div>
    </div>
  </div>
</div>

<div id="prizes">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 justify">
        <%= yield :prizes %>
      </div>
    </div>
  </div>
</div>
