<% provide :title, "Team" %>
<%= render 'tournament_nav' %>
<%= render 'tournament_team_content' %>

<div class="container">
  <div class="row jumbotron text-center">
    <div class="col-xs-12">
      <h1>Team</h1>
    </div>
  </div>
</div>

<div id="rules">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 justify">
        <%= yield :rules %>
      </div>
    </div>
  </div>
</div>

<div id="slots">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2>Slot 1: 11:00 - 13:00</h2>
      </div>
      <div class="col-xs-12 col-sm-3 text-center">
        <div class="header">
          NO NAME 2016
        </div>
        <div class="text-center">
          Konrad Masłowski<br>
          Cezary Głowala<br>
          Aleksander Żurkowski<br>
        </div>
      </div>

      <div class="col-xs-12 col-sm-3 text-center">
        <div class="header">
          KRZYK CISZY
        </div>
        <div class="text-center">
          Jarosław Rupiewicz<br>
          Jakub Ciepliński<br>
          Paweł Nowak<br>
        </div>
      </div>

      <div class="col-xs-12 col-sm-3 text-center">
        <div class="header">
          PWDB
        </div>
        <div class="text-center">
          Gabor Vanderer<br>
          Balázs Pálfi<br>
          Sandor Varga<br>
        </div>
      </div>

      <div class="col-xs-12 col-sm-3 text-center">
        <div class="header">
          BELLCHATEAUX
        </div>
        <div class="text-center">
          Daniel Nowak<br>
          Andrzej Cieślik<br>
          Tomasz Buczek<br>
        </div>
      </div>

      <div class="col-xs-12 text-center">
        <h2>Slot 2: 13:00 - 15:00</h2>
      </div>

      <div class="col-xs-12 col-sm-3 text-center">
        <div class="header">
          PRINTIMUS PINBALL
        </div>
        <div class="text-center">
          Łukasz Dziatkiewicz<br>
          Robert Gałązka<br>
          Andrzej Olszewski<br>
        </div>
      </div>



      <div class="col-xs-12 col-sm-3 text-center">
        <div class="header">
          THE GOOD, THE BAD AND THE UGLY
        </div>
        <div class="text-center">
          Bartosz Radomyski<br>
          Gabby Molotov<br>
          Milan Caranovic<br>
        </div>
      </div>

      <div class="col-xs-12 col-sm-3 text-center">
        <div class="header">
          SILESIA TEAM
        </div>
        <div class="text-center">
          Mariusz Tkacz<br>
          Jakub Tkacz<br>
          Marcin Kisiel<br>
        </div>
      </div>

      <div class="col-xs-12 col-sm-3 text-center">
        <div class="header">
          DART KZN CLUB
        </div>
        <div class="text-center">
          Marcin Brodziak<br>
          Paweł Cichosz<br>
          Jan Kowalski<br>
        </div>
      </div>



      <div class="col-xs-12 text-center">
        <h2>Slot 3: 16:00 - 19:00</h2>
      </div>

      <div class="col-xs-12 col-sm-3 text-center">
        <div class="header">
          CHOCIAŻ TRZECH
        </div>
        <div class="text-center">
          Artur Natorski<br>
          Sebastian Gwizdała<br>
          Mateusz Gwizdała<br>
        </div>
      </div>

      <div class="col-xs-12 col-sm-3 text-center">
        <div class="header">
          BUTT'S KICKERS
        </div>
        <div class="text-center">
          Marcin Dylewski<br>
          Jacek Wenda<br>
          Jerzy Węglarz<br>
        </div>
      </div>

      <div class="col-xs-12 col-sm-3 text-center">
        <div class="header">
          RHOBAKI
        </div>
        <div class="text-center">
          Rafał Bytomski<br>
          Łukasz Wawryka<br>
          Armand Maculewicz<br>
        </div>
      </div>

      <div class="col-xs-12 col-sm-3 text-center">
        <div class="header">
          FOR AMUSEMENT ONLY
        </div>
        <div class="text-center">
          Marek Szymborski<br>
          Jarosław Nietrzebka<br>
          Janek Nietrzebka<br>
        </div>
      </div>

    </div>
  </div>
</div>

<div id="flippers">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 justify">
        <%= yield :flippers %>
      </div>
    </div>
  </div>
</div>

<div id="prizes">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 justify">
        <%= yield :prizes %>
      </div>
    </div>
  </div>
</div>