<% orders.each do |order| %>
    <div class="row <%= order.payment_confirmed? ? "alert-success" : "alert-danger" %>" id="order-<%= order.id %>">
      <div class="col-xs-6 text-left underline">
        Numer: <b><%= order.id %></b>
      </div>
      <div class="col-xs-6 text-right underline <%= order.payment_confirmed? ? "paid" : "not-paid" %>">
        <%= order.payment_confirmed? ? "zapłacone" : "brak płatności" %>
      </div>
      <div class="col-xs-12 text-center">
        <span><b><%= "#{t(".total")}: #{format_currency(order.total_price, locale: order.locale)}" %></b></span><br>
        <% order.order_items.each do |item| %>
            <span><%= "#{item.product.name} #{item.size}" %></span><br>
        <% end %>
      </div>
      <div class="col-xs-12 text-center">
        <% if !order.payment_confirmed? %>
          <%= link_to t(".cancel"), order_path(order), method: :delete, remote: true, class: "btn btn-xs btn-danger" %>
          <%= link_to t(".#{order.payment_type}"),
                      order.payment_type == "paypal" ? order.paypal_url(payment_confirmations_path, user_url(order.user)) : bank_transfer_path(id: order.id),
                      class: "btn btn-xs btn-primary" %>
        <% end %>
      </div>
    </div>
<% end %>

