<div class="container" id="users">
  <div class="row">
    <div class="col-xs-12 alert alert-danger text-center">
      <h3 class="hidden-xs"><b><%= t(".order_required") %></b></h3>
      <p class="visible-xs-block text-center"><b><%= t(".order_required") %></b></p>
    </div>
  </div>
  <div class="row header">
    <div class="col-xs-12 text-center">
      <h3><%= t(".header") %></h3>
      <hr>
    </div>
    <div class="col-xs-2 col-sm-1 col-sm-offset-3 text-center">
      <%= t('.number') %>
    </div>
    <div class="col-xs-7 col-sm-3 text-center">
      <%= t('.full_name') %>
    </div>
    <div class="col-xs-3 col-sm-2 text-center">
      <%= t('.payment') %>
    </div>
  </div>
  <% @users.each do |user| %>
  <div class="row alert-<%= mark_if_ordered_or_payed(user) %>">
    <div class="col-xs-2 col-sm-1 col-sm-offset-3 text-center">
      <%= user.id %>
    </div>
    <div class="col-xs-7 col-sm-3 text-center">
    <%= user.full_name %>
    </div>
    <div class="col-xs-3 col-sm-2 text-center">
      <% if user.main_payed? %>
        ok
      <% elsif user.main_ordered? %>
        <%= t(".payment_missing") %>
      <% else %>
        <%= t(".registration_missing") %>
      <% end %>
    </div>
  </div>
  <% end %>
</div>