<% provide :title, "Turnieje" %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h1>Turnieje</h1>
    </div>
  </div>
    <% @tournaments.each do |tournament| %>
    <div class="row">
      <div class="col-xs-6 col-sm-3 col-sm-offset-3">
          <%= link_to tournament.name, tournament_path(tournament), style: "font-size: 1.5em;" %>
      </div>
      <div class="col-xs-6 col-sm-3 text-right">
        <% if tournament.started? %>
            <%= link_to "Wpisuj wyniki", matches_path(tournament_id: tournament.id), class: "btn btn-lg btn-info", style: "margin-bottom: 25px;" %>
        <% else %>
            <%= link_to "Start", start_tournament_path(tournament), class: "btn btn-sm btn-primary", style: "margin-bottom: 25px; margin-right: 20px;" %>
            <%= link_to "Usuń", tournament_path(tournament), method: :delete, class: "btn btn-sm btn-danger" %>
        <% end %>
      </div>
    </div>
    <% end %>
  <div class="row">
    <div class="col-xs-12 text-center" style="margin-top: 20px;">
      <%= link_to "Utwórz nowy", new_tournament_path, class: "btn btn-lg btn-primary" %>
    </div>
  </div>
</div>