<% provide :title, "Wyniki - #{@tournament.name}" %>
<% if @projector %>
    <div class="cotainer-fluid wet-asphalt">
      <div class="row" style="margin: 0;">
        <div class="col-md-7 col-md-offset-1 text-left">
          <h1>Polish Pinball Open 2016</h1>
        </div>
        <div class="col-md-3 text-right">
          <h1>
            <%= @tournament.name %>
          </h1>
        </div>
      </div>
    </div>
  <div class="container-fluid" id="progress-bar">
    <div class="row" style="margin: 0;">
      <div class="col-xs-12">
        <div id="standings-progress">
          <div id="standings-progress-bar">
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render "#{@tournament.current_phase.type.underscore}/standings", only_players: false %>

<% if @projector %>
  <script>
    var standings = {
      max_wait: 60,
      wait_count: 61,
      refresh: function() {
        $.ajax({
          url: "<%= standings_tournament_path(@tournament) %>",
          dataType: 'script',
          success: userPanel.setHeight
        });
      },
      waitProgressBar: function() {
        if (standings.wait_count < 0) {
          standings.wait_count = standings.max_wait + 1;
          standings.refresh();
        } else {
          $('#standings-progress-bar').css("width", Math.min(standings.wait_count * (100/standings.max_wait), 100) + "%");
          setTimeout(standings.waitProgressBar, 1000);
          standings.wait_count--;
        }
      }
    };

    var userPanel = {
      fromTop: $('#standings table#user-table').offset().top,
      height: $('#standings table#user-table').outerHeight(true),
      animatedObject: $('#standings #user-panel'),
      viewPortHeight: 0,
      direction: "down",

      setHeight: function() {
        userPanel.viewPortHeight = $(window).outerHeight(true) - userPanel.fromTop - 5;
        userPanel.animatedObject = $('#standings #user-panel');
        userPanel.animatedObject.css('height', userPanel.viewPortHeight + "px");
        userPanel.animateScroll();
      },

      animateScroll: function() {
        if (userPanel.direction === "down") {
          userPanel.animatedObject.scrollTop(0)
              .animate({scrollTop: userPanel.height - userPanel.viewPortHeight}, standings.max_wait * 1000, "linear");
          userPanel.direction = 'up';
        } else if (userPanel.direction === "up") {
          userPanel.animatedObject.scrollTop(userPanel.height - userPanel.viewPortHeight)
              .animate({scrollTop: 0}, standings.max_wait * 100, "linear");
          userPanel.direction = "reload";
        } else {
          <% next_tournament = @tournaments[(@tournaments.index(@tournament) + 1) % @tournaments.length] %>
          <% next_url = url_for standings_tournament_url(next_tournament, projector: "1", locale: locale) %>
          window.location = "<%= next_url %>";
        }
      }

    };
    userPanel.setHeight();
    setTimeout(standings.waitProgressBar, 1000);

    var flipperPanel = {
      flippers: <%== @tournament.flippers.tournament_order.map{|flipper| escape_javascript(flipper_path(flipper, tournament_id: @tournament))} %>,
      index: 0,
      getScores: function() {
        $.ajax({
          url: flipperPanel.flippers[flipperPanel.index],
          dataType: "text",
          success: flipperPanel.refreshPanel
        })
      },
      refreshPanel: function(response) {
        $("#machine-panel").html(response);
        flipperPanel.index = ++(flipperPanel.index) % flipperPanel.flippers.length;
        setTimeout(flipperPanel.getScores, (standings.max_wait * 1000) / flipperPanel.flippers.length);
      }
    };
    flipperPanel.getScores();
  </script>
<% end %>