<% if @current_order.order_items.count > 0 %>
  <table class="cart">
    <% @current_order.order_items.each do |item| %>
      <tr>
        <td>
          <%= item.product.name %>
          <% if !item.size.nil? %>
              <%= "- #{t('orders.products.size')}: #{item.size}" %>
          <% end %>
        </td>
        <td class="price">
          <%= format_currency item.price %></td>
        <td class="noborder" style="padding-right: 0px;"><%= link_to t('.product.remove'), item, method: :delete, remote: true, class: "btn btn-xs btn-warning pull-right" %></td>
      </tr>
    <% end %>
      <tr class="cart-total">
        <td>Total</td>
        <td class="total-cell"><%= format_currency(@current_order.total_price) %></td>
        <td class="noborder"></td>
      </tr>
  </table>
    <%= form_for @current_order do |f| %>
        <%= f.select :payment_type,
                     options_for_select(Order::PAYMENT_TYPES.map {|payment| [t(".#{payment}"), payment] }),
                     prompt: t('.choose_payment_type') %>
      <%= f.button t('.checkout'), class: "btn btn-danger pull-right" %>
    <% end %>
<% else %>
  <%= t('.cart_is_empty') %>
<% end %>