<% if @current_order.order_items.count > 0 %>
  <table class="cart">
    <% @current_order.order_items.each do |item| %>
      <tr>
        <td>
          <%= item.product.name %>
          <% if !item.size.nil? %>
              <%= "- rozmiar: #{item.size}" %>
          <% end %>
        </td>
        <td class="price">
          <%= item.price %></td>
        <td class="noborder"><%= link_to "usuń", order_item_path(item), method: :delete, remote: true, class: "btn btn-xs btn-danger" %></td>
      </tr>
    <% end %>
      <tr class="cart-total">
        <td>Total</td>
        <td class="total-cell"><%= @current_order.order_items.map {|item| item.product.price}.sum{|p| p} %></td>
        <td class="noborder"></td>
      </tr>
  </table>
    <%= form_for @current_order do |f| %>
      <%= f.select :payment_type, Order::PAYMENT_TYPES, prompt: "Wybierz sposób płatności" %>
      <%= f.button "Zapłać", class: "btn btn-primary pull-right" %>
    <% end %>
<% else %>
  Twój koszyk jest pusty
<% end %>