<% one_timers = [] %>
<% one_timers = Product.where(name: ["main", "team"]) %>
<% (Product.all - (one_timers & @current_order.order_items.map(&:product))).each do |product| %>
    <% price = product.discount_if_sff_local_price current_user.sff_validated? %>
    <div class="row">
      <%= form_for :order_item, url: order_items_path, remote: true, html: { class: "row-eq-height" } do |f| %>
          <%= f.hidden_field :price, value: price %>
          <%= f.hidden_field :product_id, value: product.id %>
          <div class="col-xs-6 underline flex-bottom no-margin">
            <%= product.name %>
            <% if product.name == 't-shirt' %>
                <%= t(".size") %>
                <%= f.select :size, %w[XXL XL L M S] %>
            <% end %>
          </div>
          <div class="col-xs-3 text-right underline flex-bottom no-margin">
            <%= format_currency(price) %>
          </div>
          <div class="col-xs-3">
            <%= f.button t('.to_cart'), class: "btn btn-xs btn-primary" %>
          </div>
      <% end %>
    </div>
<% end %>