<div class="form">
  <%= form_for @match, url: match_edit_confirm_path(@match, tournament_id: @tournament.id), method: :patch do |match_form| %>
      <div class="form-group">
        <%= match_form.label :flipper %>
        <%= match_form.hidden_field :flipper_id %>
        <%= match_form.text_field :flipper_name, value: @match.flipper.name, disabled: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= match_form.label :gracz %>
        <%= match_form.text_field :gracz, value: @match.scores.first.user.full_name, disabled: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= match_form.fields_for :scores do |score_form| %>
            <%= score_form.hidden_field :user_id %>
            <%= score_form.label :punkty %>
            <%= score_form.text_field :value, type: "number", class: "form-control" %>
        <% end %>
      </div>
      <div class="form-group">
        <%= match_form.submit "Utwórz" %>
      </div>
  <% end %>
</div>
