<div class="container">
  <table class="table">
    <thead>
    <tr>
      <td>nazwa</td>
      <td>zwykła cena</td>
      <td>cena SFF</td>
      <td>akcje</td>
    </tr>
    </thead>
    <tbody>
      <% Product.all.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= product.sff_price %></td>
        <td>
          <%= link_to "edytuj", edit_product_path(product), class: "btn btn-xs btn-warning" %>
          <%= link_to "usuń", product, method: :delete, class: "btn btn-xs btn-danger" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "Add New", new_product_path, class: "btn btn-primary" %>
</div>