<div id="loginModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= t(".header") %></h4>
      </div>
      <div class="modal-body">
        <div id="modal-flash" class="alert alert-danger">dupa</div>
        <%= form_for :session, url: login_path, remote: true do |f| %>
            <div class="form-group">
              <%= f.label t(".email") %>
              <%= f.email_field :email, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label t(".password") %>
              <%= f.password_field :password, class: "form-control" %>
            </div>
            <div>
              <button type="button" class="btn btn-danger pull-right" data-dismiss="modal"><%= t(".cancel") %></button>
              <%= f.submit t(".submit"), class: "btn btn-success pull-right" %>
              <div style="clear: both;"></div>
            </div>
      <% end %>
      </div>
      <div class="modal-footer">
        <div class="pull-right">
          <%= t('.not_a_member') %> <%= link_to t(".register"), new_user_path %>
        </div>
      </div>
    </div>
  </div>
</div>